In [224]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\Arya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [225]:
import pandas as pd

In [226]:
#!pip install --upgrade pandas

In [227]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Arya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [228]:
df=pd.read_csv("traindata.csv")

In [229]:
df.head(5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [230]:
df.describe()

               id       label
count  102.000000  102.000000
mean    50.500000    0.441176
std     29.588849    0.498980
min      0.000000    0.000000
25%     25.250000    0.000000
50%     50.500000    0.000000
75%     75.750000    1.000000
max    101.000000    1.000000

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      102 non-null    int64
 1   title   99 non-null     object
 2   author  93 non-null     object
 3   text    102 non-null    object
 4   label   102 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.1+ KB

In [232]:
df.isnull().sum()

id        0
title     3
author    9
text      0
label     0
dtype: int64

In [233]:
df=df.fillna('')

In [234]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [235]:
df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [236]:
df=df.drop(['id','title','author'],axis=1)

In [237]:
df.head()

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [238]:
from nltk.corpus import stopwords

In [239]:
from nltk.stem.porter import PorterStemmer

In [240]:
import re

In [241]:
port_stem=PorterStemmer()

In [242]:
port_stem

In [243]:
port_stem.stem("Hi this is meera")

'hi this is meera'

In [244]:
def stemming(content):
    con=re.sub('[^a-zA-Z]', ' ',content)
    con=con.lower()
    con=con.split()
    con=[port_stem.stem(word) for word in con if not word in stopwords.words('english')]
    con=' '.join(con)
    return con

In [245]:
stemming('Hi this is Meera')

'hi meera'

In [246]:
df['text']= df['text'].apply(stemming)

In [247]:
x=df['text']

In [248]:
y=df['label']

In [249]:
x.shape

(102,)

In [250]:
y.shape

(102,)

In [251]:
from sklearn.model_selection import train_test_split

In [252]:
x_train , x_test, y_train , y_test = train_test_split(x,y, test_size=0.20)

In [253]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [254]:
vect=TfidfVectorizer()

In [255]:
x_train= vect.fit_transform(x_train)
x_test= vect.transform(x_test)

In [256]:
x_train.shape

(81, 6433)

In [257]:
x_test.shape

(21, 6433)

In [258]:
y_train.shape

(81,)

In [259]:
y_test.shape

(21,)

In [260]:
print(y_train.shape)
print(y_train.dtype)

(81,)
int64

In [261]:
from sklearn.tree import DecisionTreeClassifier

In [262]:
model=DecisionTreeClassifier()

In [263]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [264]:
DecisionTreeClassifier()

DecisionTreeClassifier()

In [265]:
prediction=model.predict(x_test)

In [266]:
prediction

array([0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
      dtype=int64)

In [267]:
model.score(x_test, y_test)

0.6666666666666666

In [268]:
import pickle

In [269]:
pickle.dump(vect, open('vector.pkl','wb'))

In [270]:
pickle.dump(model, open('model.pkl','wb'))

In [271]:
vector_form=pickle.load(open('vector.pkl','rb'))

In [272]:
load_model=pickle.load(open('model.pkl','rb'))

In [273]:
def fake_news(news):
    news=stemming(news)
    input_data=[news]
    vector_form1=vector_form.transform(input_data) 
    prediction=load_model.predict(vector_form1)
    return prediction

In [274]:
val=fake_news("""In these trying times, Jackie Mason is the Voice of Reason. [In this weekâ€™s exclusive clip for Breitbart News, Jackie discusses the looming threat of North Korea, and explains how President Donald Trump could win the support of the Hollywood left if the U. S. needs to strike first.  â€œIf he decides to bomb them, the whole country will be behind him, because everybody will realize he had no choice and that was the only thing to do,â€ Jackie says. â€œExcept the Hollywood left. Theyâ€™ll get nauseous. â€ â€œ[Trump] could win the left over, theyâ€™ll fall in love with him in a minute. If he bombed them for a better reason,â€ Jackie explains. â€œLike if they have no transgender toilets. â€ Jackie also says itâ€™s no surprise that Hollywood celebrities didnâ€™t support Trumpâ€™s strike on a Syrian airfield this month. â€œThey were infuriated,â€ he says. â€œBecause it might only save lives. That doesnâ€™t mean anything to them. If it only saved the environment, or climate change! Theyâ€™d be the happiest people in the world. â€ Still, Jackie says heâ€™s got nothing against Hollywood celebs. Theyâ€™ve got a tough life in this country. Watch Jackieâ€™s latest clip above.   Follow Daniel Nussbaum on Twitter: @dznussbaum""")

In [275]:
if val==[0]:
    print('reliable')
else:
    print('unreliable')

reliable

In [292]:
from sklearn import feature_selection
from sklearn.linear_model import SGDClassifier

model = SGDClassifier(loss="hinge", penalty="l1", max_iter=10)
model.fit(x_train, y_train)
model.score(x_test, y_test)

c:\Users\Arya\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:696: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

0.6666666666666666