In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (2.0.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\arya\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'C:\Users\Arya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd

In [4]:
#!pip install --upgrade pandas

In [5]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Arya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
df_train=pd.read_csv("train.csv")
df_train['Label'] = (df_train['Label']).astype(int)
df_test = pd.read_csv("test.csv")
df_test['Label'] = (df_test['Label']).astype(int)

In [7]:
df_train.head(5)

                                           Statement  Label
0  Says the Annies List political group supports ...      0
1  When did the decline of coal start? It started...      1
2  Hillary Clinton agrees with John McCain "by vo...      1
3  Health care reform legislation is likely to ma...      0
4  The economic turnaround started at the end of ...      1

In [8]:
df_test.head(5)

                                           Statement  Label
0  Building a wall on the U.S.-Mexico border will...      1
1  Wisconsin is on pace to double the number of l...      0
2  Says John McCain has done nothing to help the ...      0
3  Suzanne Bonamici supports a plan that will cut...      1
4  When asked by a reporter whether hes at the ce...      0

In [9]:
df_test.describe()

             Label
count  2551.000000
mean      0.541748
std       0.498352
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [10]:
#df.info()

In [11]:
df_train.isnull().sum() 
df_test.isnull().sum()

Statement    0
Label        0
dtype: int64

In [12]:
df_train=df_train.fillna('')

In [13]:
df_test=df_test.fillna('')

In [14]:
df_train.isnull().sum()
df_test.isnull().sum()

Statement    0
Label        0
dtype: int64

In [15]:
df_train.columns

Index(['Statement', 'Label'], dtype='object')

In [16]:
df_train.head()

                                           Statement  Label
0  Says the Annies List political group supports ...      0
1  When did the decline of coal start? It started...      1
2  Hillary Clinton agrees with John McCain "by vo...      1
3  Health care reform legislation is likely to ma...      0
4  The economic turnaround started at the end of ...      1

In [17]:
from nltk.corpus import stopwords

In [18]:
from nltk.stem.porter import PorterStemmer

In [19]:
import re

In [20]:
port_stem=PorterStemmer()

In [21]:
port_stem

In [22]:
port_stem.stem("My name is Arya Panja")

'my name is arya panja'

In [23]:
def stemming(content):
    con=re.sub('[^a-zA-Z]', ' ',content)
    con=con.lower()
    con=con.split()
    con=[port_stem.stem(word) for word in con if not word in stopwords.words('english')]
    con=' '.join(con)
    return con

In [24]:
stemming('My name is Arya')

'name arya'

In [25]:
df_train['Statement']= df_train['Statement'].apply(stemming)

In [26]:
df_test['Statement']= df_test['Statement'].apply(stemming)

In [27]:
x_train=df_train['Statement']

In [28]:
x_test = df_test['Statement']

In [29]:
y_train=df_train['Label']

In [30]:
y_test = df_test['Label']

In [31]:
x_train.shape

(10240,)

In [32]:
x_test.shape

(2551,)

In [33]:
y_train.shape

(10240,)

In [34]:
y_test.shape

(2551,)

In [35]:
#from sklearn.model_selection import train_test_split

In [36]:
#x_train , x_test, y_train , y_test = train_test_split(x,y, test_size=0.20)

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
vect=TfidfVectorizer()

In [39]:
x_train= vect.fit_transform(x_train)
x_test= vect.transform(x_test)

In [40]:
x_train.shape

(10240, 7677)

In [41]:
x_test.shape

(2551, 7677)

In [42]:
y_train.shape

(10240,)

In [43]:
y_test.shape

(2551,)

In [44]:
print(y_train.shape)
print(y_train.dtype)

(10240,)
int32

In [45]:
from sklearn.tree import DecisionTreeClassifier

In [46]:
model=DecisionTreeClassifier()

In [47]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [48]:
DecisionTreeClassifier()

DecisionTreeClassifier()

In [49]:
prediction=model.predict(x_test)

In [50]:
prediction

array([1, 0, 0, ..., 1, 0, 0])

In [51]:
model.score(x_test, y_test)

0.5593884751078009

In [52]:
import pickle

In [53]:
pickle.dump(vect, open('vector.pkl','wb'))

In [54]:
pickle.dump(model, open('model.pkl','wb'))

In [55]:
vector_form=pickle.load(open('vector.pkl','rb'))

In [56]:
load_model=pickle.load(open('model.pkl','rb'))

In [57]:
def fake_news(news):
    news=stemming(news)
    input_data=[news]
    vector_form1=vector_form.transform(input_data) 
    prediction=load_model.predict(vector_form1)
    return prediction

In [58]:
val=fake_news("""In these trying times, Jackie Mason is the Voice of Reason. [In this weekâ€™s exclusive clip for Breitbart News, Jackie discusses the looming threat of North Korea, and explains how President Donald Trump could win the support of the Hollywood left if the U. S. needs to strike first.  â€œIf he decides to bomb them, the whole country will be behind him, because everybody will realize he had no choice and that was the only thing to do,â€ Jackie says. â€œExcept the Hollywood left. Theyâ€™ll get nauseous. â€ â€œ[Trump] could win the left over, theyâ€™ll fall in love with him in a minute. If he bombed them for a better reason,â€ Jackie explains. â€œLike if they have no transgender toilets. â€ Jackie also says itâ€™s no surprise that Hollywood celebrities didnâ€™t support Trumpâ€™s strike on a Syrian airfield this month. â€œThey were infuriated,â€ he says. â€œBecause it might only save lives. That doesnâ€™t mean anything to them. If it only saved the environment, or climate change! Theyâ€™d be the happiest people in the world. â€ Still, Jackie says heâ€™s got nothing against Hollywood celebs. Theyâ€™ve got a tough life in this country. Watch Jackieâ€™s latest clip above.   Follow Daniel Nussbaum on Twitter: @dznussbaum""")

In [59]:
if val==[0]:
    print('reliable')
else:
    print('unreliable')

unreliable

In [60]:
from sklearn import feature_selection
from sklearn.linear_model import SGDClassifier

model = SGDClassifier(loss="hinge", penalty="l2", max_iter=100)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.613484907879263